<!DOCTYPE html>
<html>

<body>

  <div class="row">
    <!-- start sidebar -->
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header upper left-bar-color">
          <i class="fas fa-user-circle"></i>&nbsp;PROFILE
        </h5>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-10">
              <%= image_tag @user.avatar, class: 'user-avatar' %>
              <div class="card-body text-center">
                <h4 class="card-title txt-blue">
                  <%= @user.user_name %>
                </h4>

                <% if current_user != @user %>

                
                <%= link_to 'Send a message &nbsp;<i class="fas fa-paper-plane"></i>'.html_safe, conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post' %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- friends zone start-->
      <% if @user == current_user %>

      <div class="card my-6">
        <h5 class="card-header upper left-bar-color">
          <i class="fas fa-user-friends"></i>&nbsp;FRIENDS
        </h5>

        <div class="card-body ui list">

          <p class="text-center "> <%= link_to "Want to make a new friends?", conversations_path, class: "txt-blue" %>
          </p>

          <% @conversations.each do |conversation| %>

          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>

          <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
          <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% if recipient.present? && conversation.sender_id != current_user.id %>
          <% if conversation.messages.where(read: false).size > 0 %>
          <span class="badge badge-pill badge-danger ml-2 float"> 
            <%= conversation.messages.where(read: false).size %>
            <i class="fas fa-comment-dots"></i>
          </span>
          <% end %>
            <% end %>
          <div>
          <%= link_to (image_tag recipient.avatar, class: 'avatar'), recipient %> &nbsp;&nbsp;
          <%= link_to recipient.user_name, conversation_messages_path(conversation)%> <br>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <!-- friends zone end-->

    </div>

    <!-- end sidebar -->
    <!-- Start Post -->

    <div class="col-md-8 ">
      <% if !@user.posts.empty? %>


      <% @user.posts.each do |post| %>
      <div class="card mt-4">

        <div class="card-body">
          <h5 class="card-title" style="text-transform:uppercase;">
            <%= link_to (image_tag post.user.avatar, class: 'avatar'), post.user %> <%= link_to post.title, post %>
            <span class="float-right text-small badge badge-warning">
              <%= post.category.name %>
            </span>


          </h5>
          <p class="card-text">
            <%= post.body.capitalize %>
          </p>
        </div>
        <div class="float-right card-footer bar-color">
          Posted By : <%= link_to post.user.user_name, post.user, class: "bar-color" %> |
          <%= time_ago_in_words post.created_at %> ago

          <span class="float-right text-small">
            <% if post.comments.size > 0  %><%= post.comments.size %> <i class="fa fa-comments" aria-hidden="true"></i>
            <% else %>Be the first comment!<% end %>
          </span>

        </div>
      </div>
      <% end %>
      <% else %>
      <h4 class="text-center" style="color: red;"><%= @user.user_name %> hasn't posted anything yet.</h4>
      <% end %>
      <!-- End Post -->
      <%= will_paginate @user_post, class: "apple_pagination" %>
    </div>

  </div>
</body>

</html>