<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <ul class="navbar-nav ml-auto">
  <li><%= link_to root_path, class: 'navbar-brand' do %>
      <i class="fas fa-users" style="color: white;"></i>
       <span>CONNECTED</span>
      <% end %>
      </li>
    </ul>
  <div class="container">
  
   

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarColor03">

        <% if logged_in? %>
        <ul class="navbar-nav ml-auto">
      
          <li class="nav-link text-center">
            <%= link_to rooms_path do %>
              <i class="fa fa-comments" aria-hidden="true" style="color: aquamarine;"></i> <br>
              CHAT ROOMS
              <% end %>
          </li>
      
        
          <li class="nav-link text-center">
            <%= link_to new_post_path do %>
            <i class="fas fa-plus-circle" aria-hidden="true" style="color: aquamarine;" ></i> <br> 
            CREATE A POST
            <% end %>
          </li>
   
          
          <li class="nav-link">    
            <% if @num_new_msg.to_i > 0 %>
              <span class="badge badge-pill badge-danger ml-2 float"> 
              <%= @num_new_msg %>
              </span>
              <% end %>
            <%= link_to conversations_path do %>
            <i class="fas fa-envelope fa-fw" aria-hidden="true" style="color: aquamarine;" ></i> <br>   
            <% end %>
          </li>

          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.avatar, class: 'avatar' if current_user.avatar %>  <%= current_user.user_name%>

             

            </a>
            <div class="dropdown-menu dropdown-menu-right " >
             
              <%= link_to "View Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>

              <div class="dropdown-divider"></div>

              <%= link_to('Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete , class: "dropdown-item") %>
            </div>


          </li>
        </ul>
    </div>
    <% else %>
    <ul class="navbar-nav ml-auto">
    <li class=" nav-item">
      <%= link_to 'Login', login_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Register', new_user_path, class: 'nav-link' %>
    </li>
    <% end %>
  </ul>
  </div>
  </div>
</nav>
<br>
<div>
  <% if flash[:warning] %>
  <div class="alert alert-warning text-center">
    <%= flash[:warning] %>
  </div>
  <% end %>
